In [2]:
import nltk
import numpy as np
default_wt=nltk.word_tokenize
sample_text="""word tokenization is the process of splitting or
 segmenting sentences into their constituent words."""
words=default_wt(sample_text)
np.array(words)

array(['word', 'tokenization', 'is', 'the', 'process', 'of', 'splitting',
       'or', 'segmenting', 'sentences', 'into', 'their', 'constituent',
       'words', '.'], dtype='<U12')

In [3]:
def tokenize_text(text):
      #对输入文本用nltk.sent_tokenize进行分句
    sentences=nltk.sent_tokenize(text) 
      #对每个句子进行分词
    words=[nltk.word_tokenize(sentence) for sentence in sentences]
    return words
#调用以上函数
sample_text="""We also can leverage spaCy to perform tokenizations. 
This should be enough to give you started with text tokenization."""
sents= tokenize_text(sample_text)
np.array(sents)

array([list(['We', 'also', 'can', 'leverage', 'spaCy', 'to', 'perform', 'tokenizations', '.']),
       list(['This', 'should', 'be', 'enough', 'to', 'give', 'you', 'started', 'with', 'text', 'tokenization', '.'])],
      dtype=object)

In [4]:
import jieba
sample_text = "为什么文本分析和挖掘很有用呢？" 
seg_list = jieba.cut(sample_text, cut_all=True) 
print(u"[全模式]: ", "/ ".join(seg_list))

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\梅建萍\AppData\Local\Temp\jieba.cache
Loading model cost 1.072 seconds.
Prefix dict has been built successfully.

[全模式]:  为什么/ 什么/ 文本/ 本分/ 分析/ 和/ 挖掘/ 很/ 有用/ 呢/ ？

In [19]:
# Porter Stemmer
from nltk.stem import PorterStemmer
ps = PorterStemmer()

ps.stem('jumping'), ps.stem('jumps'), ps.stem('jumped')

('jump', 'jump', 'jump')

In [20]:
ps.stem('strange')

'strang'

In [22]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()
# 名词还原
print(wnl.lemmatize('cars', 'n'))
print(wnl.lemmatize('men', 'n'))

car
men

In [22]:
# 动词还原
print(wnl.lemmatize('running', 'v'))
print(wnl.lemmatize('ate', 'v'))

run
eat

In [25]:
# 形容词还原
print(wnl.lemmatize('saddest','a'))
print(wnl.lemmatize('fancier', 'a'))

sad
fancy

In [36]:
def remove_stopwords(text, is_lower_case=False):    
    tokens = tokenizer.tokenize(text)    
    #.strip()方法去掉字符串头尾多余的空格、\t, \n等字符。
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

In [14]:
import nltk 
import pandas as pd
sentence = "US judge suspends Trump ban on TikTok downloads"
nltk_pos_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))
pd.DataFrame(nltk_pos_tagged, columns=['Word', 'POS tag']).T

           0      1         2      3    4   5       6          7
Word      US  judge  suspends  Trump  ban  on  TikTok  downloads
POS tag  NNP     NN       VBZ    NNP   NN  IN     NNP        NNS

In [11]:
#先导入数据，并分割成训练集和测试集
from nltk.corpus import treebank 
data = treebank.tagged_sents() 
train_data = data[:3500]
test_data = data[3500:]
print(test_data[0])

[('About', 'IN'), ('30', 'CD'), ('%', 'NN'), ('of', 'IN'), ('Ratners', 'NNP'), ("'s", 'POS'), ('profit', 'NN'), ('already', 'RB'), ('is', 'VBZ'), ('derived', 'VBN'), ('*-1', '-NONE-'), ('from', 'IN'), ('the', 'DT'), ('U.S.', 'NNP'), ('.', '.')]

In [15]:
# 默认标注器
from nltk.tag import DefaultTagger 
dt = DefaultTagger('NN')
# 测试集上的准确率
dt.evaluate(test_data)

0.1454158195372253

In [16]:
#对前面新闻题目的标注结果
dt.tag(nltk.word_tokenize(sentence))

[('US', 'NN'),
 ('judge', 'NN'),
 ('suspends', 'NN'),
 ('Trump', 'NN'),
 ('ban', 'NN'),
 ('on', 'NN'),
 ('TikTok', 'NN'),
 ('downloads', 'NN')]

In [17]:
from nltk.classify import NaiveBayesClassifier
from nltk.tag.sequential import ClassifierBasedPOSTagger
nbt = ClassifierBasedPOSTagger(train=train_data,                                  
                                     classifier_builder=NaiveBayesClassifier.train)
# 测试集准确率、新闻题目例句的标注结果 
print(nbt.evaluate(test_data)) 
print(nbt.tag(nltk.word_tokenize(sentence)))

0.9306806079969019
[('US', 'PRP'), ('judge', 'NN'), ('suspends', 'VBZ'), ('Trump', 'NNP'), ('ban', 'NN'), ('on', 'IN'), ('TikTok', 'NNP'), ('downloads', 'NNS')]

In [23]:
import pandas as pd 
import numpy as np
import re
import nltk 
import matplotlib.pyplot as plt
pd.options.display.max_colwidth = 200
corpus = ['The sky is blue and beautiful.',    
          'Love this blue and beautiful sky!',   
          'The quick brown fox jumps over the lazy dog.',    
          "A king's breakfast has sausages, ham, bacon, eggs, toast and beans",  
          'I love green eggs, ham, sausages and bacon!',      
          'The brown fox is quick and the blue dog is lazy!',   
          'The sky is very blue and the sky is very beautiful today',   
          'The dog is lazy but the brown fox is quick!' ] 
labels = ['weather', 'weather', 'animals', 'food', 'food',
          'animals', 'weather', 'animals']
corpus = np.array(corpus)
corpus_df = pd.DataFrame({'Document': corpus, 'Category': labels}) 
corpus_df = corpus_df[['Document', 'Category']] 
corpus_df

                                                             Document Category
0                                      The sky is blue and beautiful.  weather
1                                   Love this blue and beautiful sky!  weather
2                        The quick brown fox jumps over the lazy dog.  animals
3  A king's breakfast has sausages, ham, bacon, eggs, toast and beans     food
4                         I love green eggs, ham, sausages and bacon!     food
5                    The brown fox is quick and the blue dog is lazy!  animals
6            The sky is very blue and the sky is very beautiful today  weather
7                         The dog is lazy but the brown fox is quick!  animals

In [26]:
from sklearn.feature_extraction.text import CountVectorizer 
# 稀疏矩阵表示
cv = CountVectorizer(min_df=0., max_df=1.) 
cv_matrix = cv.fit_transform(corpus)
# 查看矩阵的非零值 
print(cv_matrix)

  (0, 23)	1
  (0, 22)	1
  (0, 14)	1
  (0, 4)	1
  (0, 0)	1
  (0, 3)	1
  (1, 22)	1
  (1, 4)	1
  (1, 0)	1
  (1, 3)	1
  (1, 18)	1
  (1, 24)	1
  (2, 23)	2
  (2, 20)	1
  (2, 6)	1
  (2, 10)	1
  (2, 15)	1
  (2, 19)	1
  (2, 17)	1
  (2, 8)	1
  (3, 0)	1
  (3, 16)	1
  (3, 5)	1
  (3, 13)	1
  (3, 21)	1
  :	:
  (5, 23)	2
  (5, 14)	2
  (5, 4)	1
  (5, 0)	1
  (5, 20)	1
  (5, 6)	1
  (5, 10)	1
  (5, 17)	1
  (5, 8)	1
  (6, 23)	2
  (6, 22)	2
  (6, 14)	2
  (6, 4)	1
  (6, 0)	1
  (6, 3)	1
  (6, 27)	2
  (6, 26)	1
  (7, 23)	2
  (7, 14)	2
  (7, 20)	1
  (7, 6)	1
  (7, 10)	1
  (7, 17)	1
  (7, 8)	1
  (7, 7)	1

In [30]:
vocab = cv.get_feature_names() 
cv_matrix = cv_matrix.toarray() 
pd.DataFrame(cv_matrix, columns=vocab)

,and,bacon,beans,beautiful,blue,breakfast,brown,but,dog,eggs,...,love,over,quick,sausages,sky,the,this,toast,today,very
0,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
2,0,0,0,0,0,0,1,0,1,0,...,0,1,1,0,0,2,0,0,0,0
3,1,1,1,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
5,1,0,0,0,1,0,1,0,1,0,...,0,0,1,0,0,2,0,0,0,0
6,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,2,2,0,0,1,2
7,0,0,0,0,0,0,1,1,1,0,...,0,0,1,0,0,2,0,0,0,0

In [33]:
# 把 ngram_range 设置成 (2,2) 得到bigrams 
bv = CountVectorizer(ngram_range=(2,2))  
bv_matrix = bv.fit_transform(corpus)
bv_matrix = bv_matrix.toarray() 
vocab = bv.get_feature_names() 
pd.DataFrame(bv_matrix, columns=vocab)

,and bacon,and beans,and beautiful,and the,bacon eggs,beautiful sky,beautiful today,blue and,blue dog,breakfast has,...,the blue,the brown,the dog,the lazy,the quick,the sky,this blue,toast and,very beautiful,very blue
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
6,0,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,2,0,0,1,1
7,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [35]:
from sklearn.feature_extraction.text import TfidfTransformer
#norm=‘l2’表示归一化到单位向量
tt = TfidfTransformer(norm='l2', use_idf=True)
tt_matrix = tt.fit_transform(cv_matrix)
tt_matrix = tt_matrix.toarray() 
vocab = cv.get_feature_names() 
pd.DataFrame(np.round(tt_matrix, 2), columns=vocab)

,and,bacon,beans,beautiful,blue,breakfast,brown,but,dog,eggs,...,love,over,quick,sausages,sky,the,this,toast,today,very
0,0.32,0.00,0.00,0.47,0.41,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.47,0.36,0.00,0.00,0.0,0.0
1,0.27,0.00,0.00,0.39,0.34,0.00,0.00,0.00,0.00,0.00,...,0.45,0.00,0.00,0.00,0.39,0.00,0.54,0.00,0.0,0.0
2,0.00,0.00,0.00,0.00,0.00,0.00,0.30,0.00,0.30,0.00,...,0.00,0.41,0.30,0.00,0.00,0.46,0.00,0.00,0.0,0.0
3,0.18,0.30,0.35,0.00,0.00,0.35,0.00,0.00,0.00,0.30,...,0.00,0.00,0.00,0.30,0.00,0.00,0.00,0.35,0.0,0.0
4,0.23,0.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.38,...,0.38,0.00,0.00,0.38,0.00,0.00,0.00,0.00,0.0,0.0
5,0.20,0.00,0.00,0.00,0.26,0.00,0.29,0.00,0.29,0.00,...,0.00,0.00,0.29,0.00,0.00,0.45,0.00,0.00,0.0,0.0
6,0.15,0.00,0.00,0.22,0.19,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.43,0.34,0.00,0.00,0.3,0.6
7,0.00,0.00,0.00,0.00,0.00,0.00,0.28,0.39,0.28,0.00,...,0.00,0.00,0.28,0.00,0.00,0.44,0.00,0.00,0.0,0.0

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer(min_df=0., max_df=1., norm='l2', use_idf=True, smooth_idf=True) 
tv_matrix = tv.fit_transform(corpus) 
tv_matrix = tv_matrix.toarray()
vocab = tv.get_feature_names() 
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

,and,bacon,beans,beautiful,blue,breakfast,brown,but,dog,eggs,...,love,over,quick,sausages,sky,the,this,toast,today,very
0,0.32,0.00,0.00,0.47,0.41,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.47,0.36,0.00,0.00,0.0,0.0
1,0.27,0.00,0.00,0.39,0.34,0.00,0.00,0.00,0.00,0.00,...,0.45,0.00,0.00,0.00,0.39,0.00,0.54,0.00,0.0,0.0
2,0.00,0.00,0.00,0.00,0.00,0.00,0.30,0.00,0.30,0.00,...,0.00,0.41,0.30,0.00,0.00,0.46,0.00,0.00,0.0,0.0
3,0.18,0.30,0.35,0.00,0.00,0.35,0.00,0.00,0.00,0.30,...,0.00,0.00,0.00,0.30,0.00,0.00,0.00,0.35,0.0,0.0
4,0.23,0.38,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.38,...,0.38,0.00,0.00,0.38,0.00,0.00,0.00,0.00,0.0,0.0
5,0.20,0.00,0.00,0.00,0.26,0.00,0.29,0.00,0.29,0.00,...,0.00,0.00,0.29,0.00,0.00,0.45,0.00,0.00,0.0,0.0
6,0.15,0.00,0.00,0.22,0.19,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.43,0.34,0.00,0.00,0.3,0.6
7,0.00,0.00,0.00,0.00,0.00,0.00,0.28,0.39,0.28,0.00,...,0.00,0.00,0.28,0.00,0.00,0.44,0.00,0.00,0.0,0.0

In [38]:
new_doc = 'the sky is green today'
pd.DataFrame(np.round(tv.transform([new_doc]).toarray(), 2),columns=tv.get_feature_names())

,and,bacon,beans,beautiful,blue,breakfast,brown,but,dog,eggs,...,love,over,quick,sausages,sky,the,this,toast,today,very
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.4,0.31,0.0,0.0,0.56,0.0